In [29]:
import tkinter as tk
from tkinter import ttk

main = tk.Tk()
main.title("Game Console")
game = tk.StringVar()
platform_pick = ttk.Combobox(main, width = 27, textvariable = game)
platform_pick['values'] = ('PC', 
                          'Nintendo Switch',
                          'PS5',
                          'XBOX')

def getplatform():
    
    game = "You have chosen: " + platform_pick.get()
    popup = tk.Toplevel(main)
    popup.title("Console Chosen")
    popup_label = tk.Label(popup, text=game, font=('calibre',14,'normal'))
    popup_label.pack()
    
submit_button = tk.Button(main,
    text="This is the best console!!!!",
    font=('calibre',15,'normal'),                      
    command = getplatform)

photo = tk.PhotoImage(file="console war.png") 
label = tk.Label(main, text="Salutation there my Gaming Enthusiasts! What is your favorite platform to game on?", image=photo, compound='top',fg="Green", font=("Comic Sans MS", 16),bg="lightblue",) 
button = tk.Button(main, text="I dont know what platform to choose!!!!!",fg="Red",font=("Forte", 18),bg= "black",  
    command = main.destroy)
label.pack() 
button.pack()
platform_pick.pack()
submit_button.pack()
platform_pick.current(0)
main.mainloop()

In [26]:
import sqlite3
sql_connect = sqlite3.connect('database.db')
cur = sql_connect.cursor() 

cur.execute('''
CREATE TABLE IF NOT EXISTS app_data (
    name TEXT,
    platform TEXT,
    age INTEGER
    )
''')
sql_connect.commit()

In [27]:
import tkinter as tk
main = tk.Tk() 

name_var = tk.StringVar()
age_var = tk.IntVar() 
platform_var = tk.StringVar()

label_age = tk.Label(main, text="What is your age?",
                 font=('helvetica',14,'bold'))
age_entry = tk.Entry(main,
    textvariable = age_var,
    font=('calibre',14,'normal'))                    

label_name = tk.Label(main, text="What is your name?",
                 font=('helvetica',14,'bold'))
name_entry = tk.Entry(main, 
    textvariable = name_var, 
    font=('calibre',14,'normal'))

label_platform = tk.Label(main, text="What is the platform you chose?",
                 font=('helvetica',14,'bold'))
platform_entry = tk.Entry(main, 
    textvariable = platform_var, 
    font=('calibre',14,'normal'))


def getNameAgePlatform():
    name = name_var.get()
    age = age_var.get()
    platform = platform_var.get()

    query = "INSERT INTO app_data (name, age, platform) VALUES (?, ?, ?)"
    cur.execute(query, (name, age, platform))
    sql_connect.commit()

    name_var.set("")
    age_var.set("")
    platform_var.set("")
    main.destroy()
    
submit_button = tk.Button(main,
    text="Submit",
    font=('calibre',14,'normal'),
    command = getNameAgePlatform)

label_age.pack()
age_entry.pack()
label_name.pack()
name_entry.pack()
label_platform.pack()
platform_entry.pack()
submit_button.pack()
main.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\bobby\anaconda3\Lib\tkinter\__init__.py", line 1948, in __call__
    return self.func(*args)
           ^^^^^^^^^^^^^^^^
  File "C:\Users\bobby\AppData\Local\Temp\ipykernel_18992\3834860394.py", line 33, in getNameAgePlatform
    cur.execute(query, (name, age, platform))
sqlite3.OperationalError: table app_data has no column named platform

In [28]:
import pandas as pd
pd.read_sql_query('''
    SELECT * FROM app_data;
    ''', sql_connect)

    name  age
0  Bobby   30
1  Betty   31
2  Billy    5